apsw==3.49.1.0
arandr==0.1.11
argcomplete==3.5.3
async-timeout==4.0.3
attrs==23.2.1.dev0
autocommand==2.2.2
beautifulsoup4==4.12.3
bleak==0.22.3
bluepy==1.3.0
Brotli==1.1.0
brotlicffi==1.1.0.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
colour==0.1.5
cryptography==44.0.2
css-parser==1.0.10
cssselect==1.2.0
Cython==3.0.12
daemonize==2.5.0
dbus-fast==2.39.5
dbus-python==1.4.0
Deprecated==1.2.16
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
fastjsonschema==2.21.1
faust-cchardet==2.1.19
feedparser==6.0.11
filelock==3.18.0
glad2==2.0.8
html2text==2024.2.26
html5-parser==0.4.12
html5lib==1.1
idna==3.10
ifaddr==0.2.0
inflate64==1.0.1
jaconv==0.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.5
libtorrent==2.0.11
lit==19.1.7.dev0
lxml==5.3.1
lxml_html_clean==0.2.0
Markdown==3.7
MarkupSafe==2.1.5
mechanize==0.4.10
meson==1.7.0
more-itertools==10.6.0
msgpack==1.0.5
multivolumefile==0.2.3
netifaces==0.11.0
numpy==2.2.4
openrazer==3.10.1
openrazer_daemon==3.10.1
ordered-set==4.1.0
packaging==24.2
pdftotext==2.2.2
pillow==11.1.0
pipenv==2024.4.1
pipx==1.7.1
platformdirs==4.3.6
psutil==7.0.0
py7zr==0.22.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pybcj==1.0.3
pycairo==1.27.0
pychm==0.8.6
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.22.0
pygdbmi==0.11.0.0
Pygments==2.19.1
PyGObject==3.52.3
pykakasi==2.3.1.dev0
pyppmd==1.1.1
Pypubsub==4.0.3
PyQt6==6.8.1
PyQt6-WebEngine==6.8.0
PyQt6_sip==13.10.0
python-dateutil==2.9.0
python-xlib==0.33
pyudev==0.24.3
pyzstd==0.16.2
regex==2024.11.6
requests==2.32.3
screenkey==1.5
sentry-sdk==2.24.1
service-identity==24.2.0
setproctitle==1.3.5
setuptools==75.8.0
sgmllib3k==1.0.0
six==1.17.0
smbus==1.1
soundconverter==4.0.5
soupsieve==2.6
TBB==0.2
texttable==1.7.0
tomli==2.0.1
tqdm==4.67.1
trove-classifiers==2025.3.19.19
unrardll==0.1.7
urllib3==2.3.0
userpath==1.9.2
validate-pyproject==0.24.1
virtualenv==20.28.0
virtualenv-clone==0.5.7
webencodings==0.5.1
websockets==12.0
wheel==0.45.1
wrapt==1.16.0
wxPython==4.2.2
xxhash==3.5.0
yt-dlp==2025.3.26
yt_dlg==1.8.5
zeroconf==0.146.1
zstandard==0.23.0
